


body{
    display: flex;    
    flex-direction: column;
}

header{
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
}

header .hidden{
    display: none;
}

header #service{
    align-self: center;
    flex-basis: 100px;
} 

header #service #greeting_name{
    display: inline-block;
} 

header #login-form{
    margin-top: 40px;
}


 header #clock, header #weather{
    text-align: right;
}

header #weather{
    flex-basis: 60px;
}

header #clock{
    margin-top: 10px;
    margin-bottom: 10px;
}

main{
    display: flex;
    flex-direction: row;
    flex-basis: 350px;
}
main .list{
    border: 1px solid gray ;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}


main .list .todo{
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


main .list .todo .todo-list button {
    float: right;
}

main .list .saved{
    flex-grow: 1;
    border-right:  2px solid powderblue;
}
